<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="top-panel">
      <img src="../images/logo.png" />
      <div class="panel-item">Home</div>
      <div class="panel-item">Service</div>
      <div class="panel-item">Menu</div>
      <div class="panel-item">Shop</div>
      <img src="../images/search.png" id="search" />
      <div class="signup">
        <img src="../images/account.png" />
        Sign Up
      </div>
      <div class="signup">
        <img src="../images/account.png" id="search" />
        Sign Up
      </div>
    </div>
    <img id="notif" src="../images/number.png" />
    <div id="main-text">
      <h1 style="font-size: 3rem; margin: 0; margin-bottom: 0.5rem">
        Order Your
      </h1>
      <br />
      <p style="font-size: 2.4rem; margin: 0">Favourite Foods</p>
      <p style="color: grey">
        Lorem Ipsum dolor sit amet, consectetur adipiscing elit.<br />
        Egestas accumsan vestibulum
        <strong style="color: black">In Venenatis</strong>
      </p>
      <p style="font-size: 2.4rem; margin-top: 3rem">Total Order: $25.76</p>
    </div>
    <div id="order">
      <div id="number">
        | &nbsp;&nbsp;&nbsp;&nbsp;2 &nbsp;&nbsp;&nbsp;&nbsp;|
      </div>
      <div id="buy-now">
        <img src="../images/bag.png" />
        <p>Buy Now</p>
      </div>
    </div>
    <img src="../images/dish.png" id="dish" />
  </body>
</html>
